@using Microsoft.AspNetCore.Identity
@using TrainingPlannerAppMVC.Domain.Model
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav d-flex flex-column justify-content-center text-center px-2">
@if (SignInManager.IsSignedIn(User))
{
    <li class="d-none d-md-block">
        <div class="dropdown pb-4">
            <a class="d-flex justify-content-center align-items-center text-primary text-decoration-none dropdown-toggle" id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false" asp-area="Identity" asp-page="/Account/Manage/Index" title="My profile">
                <i class="bi bi-person"></i>
                <span class="d-none d-md-inline d-sm-none mx-1 text-primary">@User.Identity?.Name</span>
            </a>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser">
                <li>
                    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Profile">
                        <i class="bi bi-file-person"></i>
                        <span class="btn btn-link text-decoration-none d-none d-md-inline d-sm-none mx-1 text-primary">Profile</span>
                    </a>
                </li>
                <li>
                    <form  class="dropdown-item form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <i class="bi bi-x-circle"></i>
                        <button type="submit" class="btn btn-link text-decoration-none d-none d-md-inline d-sm-none mx-1 text-primary">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </li>
    <div class="d-block d-md-none">
        <li class="shadow-sm border border-light nav-item rounded mb-1">
            <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Profile">
                <i class="bi bi-file-person"></i>
            </a>
        </li>
        <li class="shadow-sm border border-light nav-item rounded">
            <form  class="dropdown-item form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-link text-decoration-none px-0">
                    <i class="bi bi-x-circle"></i>
                </button>
            </form>
        </li>
    </div>
}
else
{
    <li class="shadow-sm border border-light nav-item rounded hover">
        <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Register">
            <i class="bi bi-pencil-square"></i>
            <span class="d-sm-inline d-none">Register</span>
        </a>
    </li>
    <li class="shadow-sm border border-light nav-item rounded mt-1 hover">
        <a class="nav-link text-primary" asp-area="Identity" asp-page="/Account/Login">
            <i class="bi bi-box-arrow-in-right"></i>
            <span class="d-sm-inline d-none">Login</span>
        </a>
    </li>
}
</ul>
