@model TrainingPlannerAppMVC.Application.ViewModels.ExerciseVm.DayExerciseVm.NewDayExerciseVm

@{
    ViewData["Title"] = "EditExercise";
}

<h1>EditExercise</h1>

<h4>NewDayExerciseVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditExercise">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DayId" class="control-label"></label>
                <input asp-for="DayId" class="form-control" />
                <span asp-validation-for="DayId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExerciseCategory" class="control-label"></label>
                <input asp-for="ExerciseCategory" class="form-control" />
                <span asp-validation-for="ExerciseCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
