@model TrainingPlannerAppMVC.Application.ViewModels.DayVm.ListDayForListVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@if (Model.AllowDayCreate)
{
    <p>
        @Html.ActionLink("Create current day", "AddDay", "Day")
    </p> 
}
<div class="contrainer">
    <div class="row row-cols-auto justify-content-center">
        <div class="col">
            <div class="h2">Days</div>
        </div>
    </div>
    <div class="row row-cols-auto g-2 justify-content-center">
        @foreach (var item in Model.Days)
        {
            var date = item.Date.Date.ToString("d");
            <div class="col">
                <div class="d-flex flex-column align-items-center p-3 border rounded justify-content-center">
                    <div class="p-0">@Html.DisplayFor(modelItem => date)</div>
                    <div class="p-0">@Html.ActionLink("Details", "Details", new { dayId = item.Id }, new { @class = "text-decoration-none text-uppercase fs-3" })</div>
                </div>
            </div>
        }
    </div>
    @*TODO*@
    @*Refactor this code and figure out how I can change it into calendar with routing*@
    @*<div class="container row row-cols-sm-auto justify-content-center">
        @for (int i = 1; i <= DateTime.DaysInMonth(DateTime.Now.Year, DateTime.Now.Month); i++)
        {
            <div class="col mw-25 p-3 border rounded align-items-center">
                <div class="p-0">@(i)</div>
            </div>
        }
    </div>*@  
</div>
